@import '@/global.scss';

.brick {
  .io-area {
    cursor: crosshair;
  }
  rect {
    fill: $C2;
    box-shadow: rgba(0, 0, 0, 0.5);
    stroke: $C3;
    stroke-width: 1px;
  }
  text {
    fill: $C4;
    text-anchor: middle;
    dominant-baseline: middle;
    &.output {
      text-anchor: start;
      fill: $C4
    }
  }
}