svg.component-editor {
  width: 100%;
  height: 100%;
  position: relative;
  .link-path {
    cursor: pointer;
    .path-hidden {
      fill: none;
      stroke-width: 6px;
      stroke: transparent;
    }
    &:hover {
      .path-hidden {
        stroke: #555;
      }
    }
  }
  .path-display {
    fill: none;
    stroke-width: 2px;
    stroke: #8ac007;
    stroke-dasharray: 5;
    stroke-dashoffset: 10;
    animation: offset 0.5s linear infinite;
  }
}