@import '@/global.scss';

* {
  color: $C4;
}

body {
  background: $C1;
}

.iconfont {
  font-size: inherit;
}

.pending {
  pointer-events: none;
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
  }
}

.infinity-hover {
  transition: filter .3s;
  &:hover {
    filter: brightness(1.2);
  }
}

.infinity-focus {
  transition: filter .3s;
  &:focus {
    filter: brightness(1.2);
  }
}

input.infinity-err {
  border-color: $ERR;
  transition: border-color .3s;
}